@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --dark-blue: #000814;
    --light-blue: #001d3d;
    --very-light-blue: #003566;
    --super-light-blue: #9eb3ca;
    --yellow: #ffc300;
  }
}
